@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /* ---- Color ---- */
  --header-bg-color: #e3e6f3;
  --primary-color: #088178;

  --card-text-bg-color: #fddde4;

  /* * Font Color */
  --text-color: #222;
  --span-color: #060636;
  --para-color: #465b52;
  --white-color: #fff;

  --link-color: #1a1a1a;

  /*? - Border -  */
  --border: 1px solid var(--border-color);
  --border-color: #cce7d0;
  --border-radius: 4px;
}

/* ====== Header ====== */

#header {
  justify-content: space-between;
  padding: 20px 80px;
  background: var(--header-bg-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

#navbar {
  transition: 0.3s ease;
}

#navbar li {
  padding: 0 20px;
}

#navbar li a {
  font-size: 16px;
  font-weight: 600;
  color: var(--link-color);
  transition: 0.3s ease;
  position: relative;
}

#navbar li a:hover,
#navbar li a.active {
  color: var(--primary-color);
}

#navbar li a::before,
#navbar li a.active::before {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--primary-color);

  position: absolute;
  bottom: -4px;
  left: 1px;
  transition: 0.3s ease;
}

#navbar li a:hover::before,
#navbar li a.active::before {
  width: 60%;
}

#navbar.active {
  right: 0px;
}

#mobile {
  display: none;
  align-items: center;
  gap: 10px;
}

#mobile i {
  color: var(--link-color);
  font-size: 24px;
  padding: 10px;
}

#close {
  position: absolute;
  top: 30px;
  left: 30px;
  color: var(--text-color);
  font-size: 24px;
  display: none;
}

/* ===== Hero Section ===== */
#hero {
  background-image: url("img/hero4.png");
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: top 25% right 0;

  flex-direction: column;
  align-items: flex-start;
}

#hero h4 {
  padding-bottom: 15px;
}

#hero h1 {
  color: var(--primary-color);
}

#hero button {
  background-image: url("img/button.png");
  background-color: transparent;
  color: var(--primary-color);
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  font-weight: 700;
  font-size: 15px;
}

/* ===== Feature Section ===== */
#feature {
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: var(--border);
  border-radius: var(--border-radius);
  margin: 15px 0;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 34px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: var(--border-radius);
  color: var(--primary-color);
  background-color: var(--card-text-bg-color);
}

#feature .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

/* ===== Products Section ======= */
#product1 {
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;

  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: var(--border);
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;

  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span,
#product1 .pro .des i {
  color: var(--span-color);
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: var(--link-color);
  font-size: 14px;
}

#product1 .pro .des i {
  color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: var(--primary-color);
}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: var(--primary-color);
  border: var(--border);

  position: absolute;
  bottom: 20px;
  right: 10px;
}

/* ======= Sales (call to action) ====== */
#banner {
  flex-direction: column;

  background-image: url("img/banner/b2.jpg");
  min-width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4,
#banner h2 {
  color: var(--white-color);
  font-size: 16px;
}

#banner h2 {
  font-size: 30px;
  padding: 10px 0;
}

#banner h2 span {
  color: #ef3636;
}

#banner button:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* ===== Sales Promote ===== */
#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 0;
  padding-bottom: 0;
}

#sm-banner .banner-box,
#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;

  background-image: url("img/banner/b17.jpg");

  min-width: 48%;
  height: 50vh;
  background-size: cover;
  background-position: center;
}

#sm-banner .banner-box2 {
  background-image: url("img/banner/b10.jpg");
}

#sm-banner h4,
#sm-banner h2,
#sm-banner span {
  color: var(--white-color);
  font-size: 20px;
  font-weight: 300;
}

#sm-banner h2 {
  font-style: 28px;
  font-weight: 800;
}

#sm-banner span {
  font-style: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
  background-color: var(--primary-color);
  border: var(--border);
  border-color: var(--primary-color);
}

/* =========== Saels 2 =========== */
#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#banner3 .banner-box {
  background-image: url("img/banner/b7.jpg");
  min-width: 30%;
  height: 30vh;
  padding: 20px;
  margin-bottom: 20px;
}

#banner3 .banner-box2 {
  background-image: url("img/banner/b4.jpg");
}
#banner3 .banner-box3 {
  background-image: url("img/banner/b18.jpg");
}

#banner3 h2 {
  color: var(--white-color);
  font-weight: 900;
  font-size: 22px;
}

#banner3 h3 {
  color: #ec544e;
  font-weight: 800;
  font-size: 15px;
}

/* ======= Newsletters ========== */

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  background-image: url("img/banner/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: var(--white-color);
}
#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}

#newsletter p span {
  color: #ffbd27;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: var(--border);
  border-color: transparent;
  border-radius: var(--border-radius);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
}

#newsletter button {
  background-color: var(--primary-color);
  color: var(--white-color);
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* ====== Footer ======= */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

footer .logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}
footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: var(--text-color);
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: var(--link-color);
  padding-right: 4px;
  cursor: pointer;
}

footer .follow i:hover,
footer a:hover {
  color: var(--primary-color);
}

footer .install .row img {
  border-radius: 6px;
  border: var(--border);
  border-color: var(--primary-color);
}

footer .install .row {
  margin: 10px 0 15px 0;
}

footer .copyright {
  width: 100%;
  text-align: center;
}
