:root {
  /* ---- Color ---- */
  /* --header-bg-color: #e3e6f3; */
  --header-bg-color: #bfb7b4;
  --bg-color: #f0eff2;
  /* --primary-color: #088178; */
  --primary-color: #108ed1;

  --card-text-bg-color: #fddde4;

  /* * Font Color */
  --text-color: #222;
  --span-color: #060636;
  --para-color: #465b52;
  --white-color: #fff;

  --link-color: #1a1a1a;

  /*? - Border -  */
  --border: 1px solid var(--border-color);
  /* --border-color: #cce7d0; */
  --border-color: rgb(212, 176, 131);
  --border-radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  font-family: "Spartan", sans-serif;
}

body {
  width: 100%;
  background-color: var(--bg-color);
}

/* ====== Section Styling ===== */
.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

/* ==== Flex Box ===== */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ====== Button Styling ======== */
button.normal,
button.white {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}
button.white {
  font-size: 13px;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}

/* ====== Text Styling ======= */
h1,
h2,
h4 {
  color: var(--text-color);
}

h1 {
  font-size: 50px;
  line-height: 64px;
}

h2 {
  font-size: 46px;
  line-height: 54px;
}

h4 {
  font-size: 20px;
}

h6 {
  font-size: 12px;
  font-weight: 700;
}

p {
  font-size: 16px;
  color: var(--para-color);
  margin: 10px 0 20px 0;
}
