#page-header {
  background-image: url("../img/banner/b1.jpg");
  height: 40vh;
  width: 100%;
  background-size: cover;
  flex-direction: column;
  text-align: center;
}

#page-header h2,
#page-header p {
  color: var(--white-color);
}

#pagination {
  text-align: center;
}

#pagination a {
  background-color: var(--primary-color);
  padding: 15px 20px;
  border-radius: var(--border-radius);
  color: var(--white-color);
  font-weight: 600;
}

#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

/* ===== Product Details ====== */

#prodetails {
  display: flex;
  margin-top: 10px;
}

#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}

#prodetails .small-img-group {
  display: flex;
  justify-content: space-between;
}

#prodetails .small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}

#prodetails .single-pro-details h4 {
  padding: 20px 0 20px 0;
}
#prodetails .single-pro-details h2 {
  font-size: 26px;
}

#prodetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
  border: var(--border);
}

#prodetails .single-pro-details button {
  background-color: var(--primary-color);
  color: var(--white-color);
}

#prodetails .single-pro-details span {
  line-height: 25px;
}

/* Extra add functionality (for read more text) */
#read-more {
  font-weight: 600;
  display: none;
}
#read-more-text {
  display: inline;
}
